{% extends 'mainsite/main.html' %}
{% load static %}
{% block content %}

    <style type="text/css">
        img{
            max-width: 100%;
            object-fit: cover;
            width: 100%
        }
        
    </style>

    {% include 'mainsite/navbar.html' %}

    <div class="main-container">
        <img src="{{ certificate.thumbnails.url }}">

        <h1>{{ certificate.headline }}</h1>

        <h4>{{ certificate.sub_headline }}</h4>

        <p>Validation ID: {{ certificate.validation_id }}</p>
        
        <p>Issued date: {{ certificate.created }}</p>

        <p>{{ certificate.body|linebreaks }}</p>

    </div>
{% endblock content %}