{% extends 'mainsite/main.html' %}
{% load static %}

{% block content %}
	<section class="s1">
		<div class="main-container">
			<div class="greeting-wrapper">
				<h1>Hi, I'm Rustam Zokirov</h1>
			</div>

			<div class="intro-wrapper">
                {% include 'mainsite/navbar.html' %}

				<div class="left-column">
					<img id="profile_pic" src="{% static 'images/me1.jpg' %}">
					<h5 style="text-align: center;line-height: 0;">Personalize Theme</h5>

					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
						<div data-mode="green" id="green-mode" class="theme-dot"></div>
						<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					</div>

					<p id="settings-note">*Theme settings will be saved for<br>your next visit</p>
				</div>

				<div class="right-column">

					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
							<h3>What I Do</h3>
							<p>I am a Python developer, now I am challenging myself with #100daysofMLcode.</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s2">	
		<div class="main-container">

			<div class="about-wrapper">
				<div class="about-me">
					<h4>More about me</h4>

					<p>I build new projects just to tickle my brain and love sharing with others how they're made.</p>

					<p>While I keep busy with ordinary work, I take interviews in search of a great team & projects that interest me.</p>

					<p>Check my <a href="https://github.com/Rustam-Z">GutHub Page</a> to see my projects.</p>

					<hr>

					<h4>TOP EXPERTISE</h4>

					<p>Python developer with primary focus on Django: <a target="_blank" href="{% static 'resume.pdf'%}">Download Resume</a></p>

					<div id="skills">
						<ul>
							<li>Python</li>
							<li>Django</li>
							<li>Django REST Framework</li>
							<li>Tkinter GUI programming</li>
							<li>C++</li>
						</ul>

						<ul>
							<li>Machine Learning</li>
							<li>SQL</li>
							<li>Flask</li>
							<li>HTML</li>
							<li>CSS</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">Some of my last posts and projects</h3>

			<div class="post-wrapper">
                {% for post in posts %}
                <div class="post">
                    <img class="thumbnail" src="{{ post.thumbnails.url }}">
                    <div class="post-preview">
                        <h6 class="post-title">{{ post.headline }}</h6>
                        <p class="post-intro">{{ post.sub_headline }}</p>
                        <a href="{% url 'post' post.id %}">Read More</a>
                    </div>
                </div>
                {% endfor %}
			</div>

            <p style="text-align: center">
                <a href="{% url 'posts' %}">View more</a>
            </p>

        </div>
    </section>

	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">My Licenses & Certifications</h3>

			<div class="post-wrapper">
                {% for certificate in certificates %}
                <div class="post">
                    <img class="thumbnail" src="{{ certificate.thumbnails.url }}">
                    <div class="post-preview">
                        <h6 class="post-title">{{ certificate.headline }}</h6>
                        <p class="post-intro">{{ certificate.sub_headline }}</p>
                        <a href="{% url 'certificate' certificate.id %}">More Info</a>
                    </div>
                </div>
                {% endfor %}
			</div>

            <p style="text-align: center;">
                <a href="{% url 'certificates' %}">View more</a>
            </p>

        </div>
	</section>
	
	<section class="s2">
		<div class="main-container">
			<a href=""></a>
			<h3 style="text-align: center;">Get In Touch</h3>

			<form id="contact-form" method="POST" action="{% url 'send_email' %}">
                {% csrf_token %}
				<a name="contact"></a>

				<label>Name</label>
				<input class="input-field" type="text" name="name">

				<label>Subject</label>
				<input class="input-field" type="text" name="subject">

				<label>Email</label>
				<input class="input-field" type="text" name="email">

				<label>Message</label>
				<textarea class="input-field" name="message"></textarea>

				<input id="submit-btn" type="submit" value="Send">
			</form>
		</div>
	</section>

	<!-- <section class="s1">
		<div class="main-container">
			<img id="social_img" src="{% static 'images/follow.jpg' %}"
			<h3 style="text-align: center;">Find me on Social</h3>
	
			<a target="_blank" href="https://www.linkedin.com/in/rustam-zokirov-6476b71a2/">LinkedIn: @Rustam Zokirov</a>
			<br>
			<a target="_blank" href="https://www.instagram.com/eight.soft/">Instagram: @eight.soft</a>
		</div>
	</section>		 -->


    <script type="text/javascript">
        let static = "{% static 'css' %}"
    </script>

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

{% endblock content %}